/* To customize, `shadcn-themer customize [dir]` dir defaults to './themes'. */
@layer base {
  :root {
    --background: hsl(0, 0%, 96.1%);
    --foreground: hsl(0, 0%, 20%);

    --muted: hsl(0, 0%, 80%);
    --muted-foreground: hsl(0, 0%, 39.2%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 47.4%, 11.2%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 47.4%, 11.2%);

    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);

    --primary: hsl(207, 89.7%, 54.1%);
    --primary-foreground: hsl(204, 83.3%, 97.6%);

    --secondary: hsl(0, 0%, 66.3%);
    --secondary-foreground: hsl(0, 0%, 98.4%);

    --accent: hsl(45, 100%, 51.4%);
    --accent-foreground: hsl(45, 100%, 97.6%);

    --destructive: hsl(14, 100%, 56.7%);
    --destructive-foreground: hsl(16, 100%, 97.8%);

    --ring: hsl(215, 20.2%, 65.1%);

    --radius: 0.5rem;
  }

  :dark {
    --background: hsl(0, 0%, 10.2%);
    --foreground: hsl(0, 0%, 100%);

    --muted: hsl(0, 0%, 38.8%);
    --muted-foreground: hsl(0, 0%, 19.2%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 47.4%, 11.2%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 47.4%, 11.2%);

    --border: hsl(214.3, 31.8%, 91.4%);
    --input: hsl(214.3, 31.8%, 91.4%);

    --primary: hsl(191, 33.3%, 73.5%);
    --primary-foreground: hsl(210, 33.3%, 98.8%);

    --secondary: hsl(0, 0%, 54.5%);
    --secondary-foreground: hsl(0, 0%, 97.6%);

    --accent: hsl(35, 100%, 55.1%);
    --accent-foreground: hsl(33, 100%, 97.8%);

    --destructive: hsl(355, 77.6%, 56.3%);
    --destructive-foreground: hsl(353, 81.8%, 97.8%);

    --ring: hsl(215, 20.2%, 65.1%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
