@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;                 /* white */
    --foreground: #020617;              /* slate-950 */
  
    --muted: #f1f5f9;                   /* slate-100 */
    --muted-foreground: #64748b;        /* slate-500 */
  
    --popover: #fff;                    /* white */
    --popover-foreground: #020617;      /* slate-950 */
  
    --card: #fff;                       /* white */
    --card-foreground: #020617;         /* slate-950 */
  
    --border: #e2e8f0;                  /* slate-200 */
    --input: #e2e8f0;                   /* slate-200 */
  
    --primary: #0f172a;                 /* slate-900 */
    --primary-foreground: #f8fafc;      /* slate-50 */
  
    --secondary: #f1f5f9;               /* slate-100 */
    --secondary-foreground: #0f172a;    /* slate-900 */
  
    --accent: #f1f5f9;                  /* slate-100 */
    --accent-foreground: #0f172a;       /* slate-900 */
  
    --destructive: #ef4444;             /* red-500 */
    --destructive-foreground: #f8fafc;  /* slate-50 */
  
    --ring: #94a3b8;                    /* slate-400 */
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: #020617;              /* slate-950 */
    --foreground: #f8fafc;              /* slate-50 */
  
    --muted: #1e293b;                   /* slate-800 */
    --muted-foreground: #94a3b8;        /* slate-400 */
  
    --popover: #020617;                 /* slate-950 */
    --popover-foreground: #f8fafc;      /* slate-50 */
  
    --card: #020617;                    /* slate-950 */
    --card-foreground: #f8fafc;         /* slate-50 */
  
    --border: #1e293b;                  /* slate-800 */
    --input: #1e293b;                   /* slate-800 */
  
    --primary: #f8fafc;                 /* slate-50 */
    --primary-foreground: #0f172a;      /* slate-900 */
  
    --secondary: #1e293b;               /* slate-800 */
    --secondary-foreground: #f8fafc;    /* slate-50 */
  
    --accent: #1e293b;                  /* slate-800 */
    --accent-foreground: #f8fafc;       /* slate-50 */
  
    --destructive: #7f1d1d;             /* slate-900 */
    --destructive-foreground: #fef2f2;  /* slate-50 */
  
    --ring: [object Object];
  }
}
  
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}