@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;                 /* white */
    --foreground: #082f49;              /* sky-950 */
  
    --muted: #e0f2fe;                   /* sky-100 */
    --muted-foreground: #0ea5e9;        /* sky-500 */
  
    --popover: #fff;                    /* white */
    --popover-foreground: #082f49;      /* sky-950 */
  
    --card: #fff;                       /* white */
    --card-foreground: #082f49;         /* sky-950 */
  
    --border: #bae6fd;                  /* sky-200 */
    --input: #bae6fd;                   /* sky-200 */
  
    --primary: #0c4a6e;                 /* sky-900 */
    --primary-foreground: #f0f9ff;      /* sky-50 */
  
    --secondary: #e0f2fe;               /* sky-100 */
    --secondary-foreground: #0c4a6e;    /* sky-900 */
  
    --accent: #e0f2fe;                  /* sky-100 */
    --accent-foreground: #0c4a6e;       /* sky-900 */
  
    --destructive: #ef4444;             /* red-500 */
    --destructive-foreground: #f0f9ff;  /* sky-50 */
  
    --ring: #38bdf8;                    /* sky-400 */
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: #082f49;              /* sky-950 */
    --foreground: #f0f9ff;              /* sky-50 */
  
    --muted: #075985;                   /* sky-800 */
    --muted-foreground: #38bdf8;        /* sky-400 */
  
    --popover: #082f49;                 /* sky-950 */
    --popover-foreground: #f0f9ff;      /* sky-50 */
  
    --card: #082f49;                    /* sky-950 */
    --card-foreground: #f0f9ff;         /* sky-50 */
  
    --border: #075985;                  /* sky-800 */
    --input: #075985;                   /* sky-800 */
  
    --primary: #f0f9ff;                 /* sky-50 */
    --primary-foreground: #0c4a6e;      /* sky-900 */
  
    --secondary: #075985;               /* sky-800 */
    --secondary-foreground: #f0f9ff;    /* sky-50 */
  
    --accent: #075985;                  /* sky-800 */
    --accent-foreground: #f0f9ff;       /* sky-50 */
  
    --destructive: #7f1d1d;             /* sky-900 */
    --destructive-foreground: #fef2f2;  /* sky-50 */
  
    --ring: [object Object];
  }
}
  
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}